body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Asegura que el cuerpo tenga al menos el 100% de la altura de la ventana gráfica */
    overflow-x: hidden; /* Evita el scroll horizontal */
    overflow-y: hidden;
}

/* Estilos para el encabezado */
header {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
}

.service {
    border: 3px solid hsl(0, 0%, 88%);
    border-radius: 5px;
}

#menu-toggle {
    background-color: #00905f;
    color: white;
    border: #00905f;
    border-radius: 50%;
}

/* Estilos para el menú lateral */
#sidebar {
    position: fixed;
    right: -250px; /* Oculta el menú lateral fuera de la pantalla */
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #f9f9f9;
    z-index: 1000;
    overflow-x: hidden;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar > ul {
    list-style-type: none;
    padding: 25px;
    height: 100%; /* Ajustar la altura al 100% */
}

#sidebar > ul > li {
    border-bottom: solid 5px #f9f9f9; /* Aplica el borde al li directamente */
}

#sidebar svg {
    color: #00905f;
}

#sidebar a {
    text-decoration: none;
    color: black;
}

/* Estilos para el contenido principal */
#main-content {
    transition: margin-right 0.3s ease;
    margin-right: 0;
}

/* Estilos para el botón de la hamburguesa */
#menu-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1100;
}

/* Estilos para la imagen del mapa */
.map {
    height: 100vh; /* Establecer el alto del contenedor al 100% del alto de la pantalla */
    overflow: hidden; /* Ocultar el contenido que sobresale del contenedor */
}
.map img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen cubra el contenedor sin deformarse */
}

/* Estilos para el footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: gray;
    text-align: center;
    padding: 10px;
    z-index: 999; /* Asegura que el footer esté por encima de otros elementos */
    overflow: hidden; /* Deshabilita el desplazamiento */
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer ul li {
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

footer ul li a {
    color: gray;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

footer ul li a.active {
    color: #00905f;
    background-color: #f9f9f9;
}

footer ul li a svg {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
